NEXT_PUBLIC_GA_ID=


# =================================================================
# auth.js Configuration
# =================================================================
AUTH_SECRET=            # Added by `npx auth`. Read more: https://cli.authjs.dev
